<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
    <table>
        <thead>
        <tr>
            <td>username</td>
            <td>Email</td>
            <td>Password</td>
            <td>Role</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" name="username"/>
            </td>
            <td>
                <input type="text" th:field="*{email}"/>
            </td>
            <td>
                <input type="text" th:field="*{password}"/>
            </td>
            <td>
                <select multiple name="nameRole">
                    <option th:each="role: ${roles}" th:value="${role.name}" th:text="${role.name}">
                </select>
            </td>
        </tr>

        </tbody>
    </table>

    <input type="submit" value="Create"/>
</form>

<br>


<form th:action="@{/admin}" method="get">
    <input type="submit" value="<--"/>
</form>
<br>

<form th:action="@{/logout}" method="get">
    <input type="submit" value="exit"/>
</form>
</body>
</html>