<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<div>
    <p>user </p>
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>UserName</td>
            <td>Email</td>
            <td>Password</td>
            <td>Role</td>

        </tr>
        </thead>
        <tbody>
        <tr th:object="${user}">
            <td th:text="*{getId()}"/>
            <td th:text="*{getUsername()}"/>
            <td th:text="*{getEmail()}"/>
            <td th:text="*{getPassword()}"/>
            <td th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></td>
        </tr>
        </tbody>

    </table>
</div>

<br>

<form th:action="@{/logout}" method="get">
    <input type="submit" value="exit"/>
</form>

</body>
</html>